body {background-color:whitesmoke}

header * {
    display: inline;
}
header {
    background-color: green;
    height: 80px; 
    display: flex; 
    align-items: center; 
    box-shadow: 0 0 25px 0 black;
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
}
body {
    height: 125vh;
}

div {
    font-size: 17px
}